.to-do-list {
        display: grid;
        grid-template-columns: 1f 1f 1f;
        background-color: ghostwhite;
        height: 100%;
        width: 90vw;
        margin: 0 auto;
        border-radius: 10px;
        color: rgb(36, 35, 39);
}
