.to-do-list {
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px; 
        padding: 10px;
        background-color: ghostwhite;
        height: 100%;
        width: 90vw;
        margin: 0 auto;
        border-radius: 10px;
        color: rgb(36, 35, 39);
    }
    